set_frequency clk 1

set_io clk J3
set_io in[0] E4
set_io in[1] B2
set_io in[2] F5
set_io in[3] B1
set_io in[4] C1
set_io in[5] C2
set_io in[6] F4
set_io in[7] D2
set_io reset G5
set_io done D1

set_io out_bytes[0] C14
set_io out_bytes[1] B15
set_io out_bytes[2] D13
set_io out_bytes[3] B14
set_io out_bytes[4] C12
set_io out_bytes[5] E11
set_io out_bytes[6] C13
set_io out_bytes[7] A16
set_io out_bytes[8] A15
set_io out_bytes[9] B13
set_io out_bytes[10] E10
set_io out_bytes[11] C11
set_io out_bytes[12] D11
set_io out_bytes[13] B12
set_io out_bytes[14] B10
set_io out_bytes[15] B11
set_io out_bytes[16] C10
set_io out_bytes[17] A10
set_io out_bytes[18] A11
set_io out_bytes[19] D10
set_io out_bytes[20] C9
set_io out_bytes[21] E9
set_io out_bytes[22] D9
set_io out_bytes[23] A9