set_io -pullup yes a[0] C14
set_io -pullup yes a[1] B15
set_io -pullup yes a[2] B12
set_io -pullup yes b[0] D13
set_io -pullup yes b[1] B14
set_io -pullup yes b[2] B10
set_io out_or_bitwise[0] C12
set_io out_or_bitwise[1] E11
set_io out_or_bitwise[2] B11
set_io out_or_logical C13
set_io out_not[0] A16
set_io out_not[1] A15
set_io out_not[2] B13
set_io out_not[3] E10
set_io out_not[4] C11
set_io out_not[5] D11
