set_io in E4
set_io state[0] B2
set_io state[1] F5
set_io state[2] B1
set_io state[3] C1
set_io state[4] C2
set_io state[5] F4
set_io state[6] D2
set_io state[7] G5
set_io state[8] D1
set_io state[9] G4
set_io next_state[0] E3
set_io next_state[1] H5
set_io next_state[2] E2
set_io next_state[3] G3
set_io next_state[4] F3
set_io next_state[5] H3
set_io next_state[6] F2
set_io next_state[7] H6
set_io next_state[8] F1
set_io next_state[9] H4
set_io out1 G2
set_io out2 J4
